@import '../../utils/constants.scss';

.item-recognition--instructions {
  font-size: 35px;
  color: $white;
  padding-top: 60px;
}

.item-recognition--instructions-small {
  padding-top: 16px;
  font-size: 30px;
  padding-top: 32px;
  margin: auto;
}

.item-recognition--display {
  margin-top: 20px;
  bottom: 0px;
}

header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  height: 256px;
  position: relative;
}
