@import '../../utils/constants.scss';

.edit-snack--page {
  background-color: $white;
}

.edit-snack--text-info {
  font-size: 35px;
  color: $white;
  padding-top: 78px;
  padding-bottom: 30px;
  white-space: nowrap;
}
