@import '../../utils/constants.scss';

.edit-snack--text-info {
	font-size: 35px;
	color: $white;
	padding-top: 24px;
	padding-bottom: 30px;
	white-space: nowrap;
}

.edit-snack--header {
	position: fixed;
	z-index: 1;
	background-color: $dark-blue;
	width: 100%;
}

.edit-snack--list-selection {
	position: fixed;
	margin-top: 400px;
}
