@import '../../utils/constants.scss';

.edit-snack--page {
  background-color: $white;
}

.edit-snack--text-info {
  font-size: 35px;
  color: $white;
  padding-top: 78px;
  padding-bottom: 30px;
  white-space: nowrap;
}

.edit-snack--header {
  position: fixed;
  z-index: 1;
  background-color: $dark-blue;
  width: 100%;
  height: 232px;
}

.edit-snack--list-selection {
  position: fixed;
  margin-top: 400px;
}
