@import '../App/App.scss';
@import '../../utils/constants.scss';

.button {

	&-back {
		float: left;
		width: 10vw;
		height: 10vh;
		font-size: 400%;
		position: absolute;
		transform: translate(-45vw, 1vh);
		-webkit-text-stroke: 9px $dark-blue;
	}

	&-accept{
		transform: translate(-13px);
		border-radius: 12px;
		margin-top: 64px;
		background-color: $light-blue;
		margin-bottom: 64px;
	}
}

.cameraicon {
	&-big {
		padding-top: 144px;
		transform: translate(-20px);
		font-size: 400%;
	}
}

.lockicon {
	padding-top: 96px;
	transform: translate(-20px);
	font-size: 400%;
}

.text {
	&-info {
		transform: translate(-13px);
		display: inline-block;
		font-size: 30px;
		padding-top: 24px;
		width: 544px;
	}
}
