@import '../../utils/constants.scss';

.button {
	&-back {
		width: 10vw;
		height: 10vh;
		position: absolute;
		transform: translate(-48vw, 1vh);
		-webkit-text-stroke: 9px $dark-blue;
	}

	&-accept {
		border-radius: 12px;
		margin-top: 64px;
		background-color: $light-blue;
	}
}

.bigcamera {
	margin-top: 144px;
}

.lock {
	margin-top: 96px;
}

.text {
	&-info {
		display: inline-block;
		font-size: 30px;
		padding-top: 24px;
		width: 544px;
	}
}
