@import '../../utils/constants.scss';

.disclaimer {
  margin-top: 165px;
}

.disclaimer-icon {
  width: 75px;
  height: 74px;
}

.disclaimer-item {
  margin: 60px auto;
}

.disclaimer-text {
  font-size: 30px;
  width: 544px;
  margin: 24px auto;
}
