@import '../../utils/constants.scss';

.col {
	float: left;
	padding: 0 20px;
}

.webcam-container {
	width: 400px;
	height: 400px;
	overflow: hidden;
}

.webcam-container video {
	object-fit: cover;
	position: relative;
}

select {
	color: $black;
	margin: 10px 0;
}

select,
input {
	padding: 5px;
	width: 100%;
}

input[type='checkbox'] {
	width: auto !important;
}

.button-admin {
	width: auto;
	margin: 20px 5px;
	padding: 10px;
	background-color: $light-blue;
}

.button-admin:disabled {
	background-color: $dark-blue;
}

.formGroup {
	display: block;
}

#status-text {
	font-size: 22px;
}
