@import '../../utils/constants.scss';

.button.button-admin {
  width: auto;
  height: auto;
  margin: 20px 5px;
  padding: 10px;
  background-color: $light-blue;
  font-size: 18px;
}

.button-admin:disabled {
  background-color: $grey;
}

.admin-title {
  margin: 0px;
  padding: 15px 0px;
}
