@import '../../utils/constants.scss';

body {
	background-color: $dark-blue;
	color: $white;
	width: 100%;
	text-align: center;
}

.text {
	color: $white;

	&-payinglater {
		font-size: 53px;
		margin-top: 72px;
	}

	&-subheading {
		margin-top: 32px;
		font-size: 30px;
		margin-bottom: 88px;
	}
}

.home-hands {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: 184px;
	text-align: center;
	position: relative;

	&-slot {
		position: absolute;
	}

	&-left {
		position: absolute;
	}

	&-center {
		position: absolute;
	}

	&-right {
		position: absolute;
	}
}
.button {
	font-size: 30px;
	border-radius: 12px;
	width: 488px;
	height: 64px;
	padding: 0px;
	display: inline-block;
	border: none;
	color: $white;
	background-color: $dark-blue;
	&-snackchat {
		margin-top: 120px;
		background-color: $light-blue;
		margin-bottom: 32px;
	}
	&-nophoto {
		border: 2px solid white;
	}
}
.smallcamera {
	margin-left: 24px;
	vertical-align: -0.15em;
}
