body, button {
	font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
	font-size: 230%;
}

body {
	color: #0a3d5f;
	width: 100%;
}

button {
	border-radius: 5px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	border: solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: 100%;
	font-size: 90%;
}

hr {
	border: none;
}

.buttonBlue {
	color: white;
	background-color: #71cce2; 
}

.buttonWhite {
	color: #71cce2;
	background-color: white;
}

.cls-1 {
	fill: #ffcd00;
}

#halo {
	position: absolute;
	transform: translate(-12px, -2px);
	width: 45px;
	height: 50px;
}

#homepage {
	padding-top: 40%;
	margin-left: 13%;
	width: 70%;
}
