@import '../../utils/constants.scss';

.notification-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  //  height: 0;
  transition: all 1s;
}

.notification {
  position: relative;
  background-color: $white;
  box-shadow: 0px -2px 7px 2px rgba(76, 76, 76, 0.4);
  width: 608px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 16px 24px;
  z-index: 20;
}

.notification.show {
  height: 88px;

  .info {
    .text {
      text-align: left;
      color: $blue;
      font-size: 28px;
    }

    .sub-text {
      text-align: left;
      font-size: 22px;
      color: $blue;
      opacity: 0.5;
    }
  }

  .dismiss {
    font-size: 30px;
    line-height: 56px;
    color: $light-blue;
    padding: 0 24px;
    position: absolute;
    right: 0;
  }
}
