service cloud.firestore {
  match /databases/{database}/documents {
  	match /models/{model} {
    	allow read;
    }
  
    match /training_data/{document} {
      allow create: if request.resource.data.trusted == false;
    }
    
    match /users/{user} {
    	allow get: if request.auth.uid == user
    	allow create: if request.resource.data.admin == false;
    }
    
    match /{document=**} {
    	function isAdmin(userId) {
      	return get(/databases/$(database)/documents/users/$(userId)).data.admin;
      }
      allow read, write: if isAdmin(request.auth.uid);
    }
  }
}