service firebase.storage {
  match /b/snackchat/o {
    match /snackchat/{allPaths=**} {
      allow read;
      allow create: if request.auth.token.kiosk == true;
      allow write: if request.auth.token.admin == true;
    }
  }
  match /b/honesty-store-kiosk.appspot.com/o {
    match /eval_data/{allPaths=**} {
      allow read, write: if request.auth.token.admin == true;
    }
    match /training_data/{allPaths=**} {
    	allow read: if request.auth.token.admin == true;
      allow write: if request.auth.token.admin == true;
      allow create: if request.auth.token.kiosk == true;
    }
  }
}
