@import '../../utils/constants.scss';

.homepage {
  height: 100vh;
  &-theme-secondary {
    color: $dark-blue;
    background-color: $white;
    .btn-primary {
      background-color: $dark-blue;
    }
    .btn-secondary {
      background-color: $white;
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}

.text {
  &-payinglater {
    font-size: 53px;
    padding-top: 90px;
    font-weight: bold;
  }

  &-subheading {
    margin-top: 32px;
    font-size: 30px;
    margin-bottom: 88px;
  }
}

.btn-block {
  width: 488px;
  margin: 16px auto;
}

.homepage--small-camera {
  margin-left: 24px;
  vertical-align: -0.15em;
  width: 28px;
  height: 28px;
}
