$black: #000000;
$white: #ffffff;
$dark-blue: #0a3d5f;
$blue: #154160;
$light-blue: #47bed8;

@font-face {
	font-family: 'FaricyNew';
	src: url('/assets/32D3D0_7_0.woff2') format('woff2'),
		url('/assets/32D3D0_7_0.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'FaricyNew-Light';
	src: url('/assets/32D3D0_2_0.woff2') format('woff2'),
		url('/assets/32D3D0_2_0.woff') format('woff');
}

@font-face {
	font-family: 'FaricyNew-Bold';
	src: url('/assets/32D3D0_3_0.woff2') format('woff2'),
		url('/assets/32D3D0_3_0.woff') format('woff');
	font-weight: bold;
}

body,
input,
textarea {
	font-family: 'FaricyNew', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'FaricyNew';
}
