@font-face {
  font-family: 'FaricyNew';
  src: url("/assets/32D3D0_7_0.woff2") format("woff2"), url("/assets/32D3D0_7_0.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'FaricyNew-Light';
  src: url("/assets/32D3D0_2_0.woff2") format("woff2"), url("/assets/32D3D0_2_0.woff") format("woff"); }

@font-face {
  font-family: 'FaricyNew-Bold';
  src: url("/assets/32D3D0_3_0.woff2") format("woff2"), url("/assets/32D3D0_3_0.woff") format("woff");
  font-weight: bold; }

body,
input,
textarea {
  font-family: 'FaricyNew', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'FaricyNew'; }

.text-confirmation {
  font-size: 45px;
  margin-top: 140px; }

.placeholder {
  margin-top: 96px;
  position: relative;
  display: block;
  text-align: center;
  width: 66.7%; }
  .placeholder-bg {
    position: absolute; }
  .placeholder-fg {
    position: absolute; }

.button-editsnack {
  width: 248px;
  margin-top: 420px;
  margin-right: 20px;
  background-color: #ffffff;
  color: #0a3d5f;
  font-family: 'FaricyNew-Bold'; }

.button-yes {
  color: #ffffff;
  width: 248px;
  background-color: #47bed8;
  font-family: 'FaricyNew-Bold'; }
