@import '../../utils/constants.scss';

.text-confirmation {
  font-size: 45px;
  margin: 140px 0 96px;
}

.button.btn {
  &-no {
    background-color: $white;
    color: $dark-blue;
  }

  &-yes {
    background-color: $light-blue;
  }
}
