@import '../../../utils/constants.scss';

body {
    padding: 30px;
    font-size: 18px;
}

.col {
    float: left;
    padding: 0 20px;
}

.container {
    width: auto;
}

select {
    color: $black;
    margin: 10px 0;
}

input[type=checkbox] {
    width: auto !important;
}

.button-trainer {
    width: auto;
    margin: 20px 5px;
    padding: 10px;
    background-color: $light-blue;
}

.formGroup {
    display: block;
}

#status-text {
    font-size: 22px;
}
