input {
	width: 100%;
	font-size: 80%;
	border: none;
	border-bottom: 1px solid black;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

#contents {
	padding-top: 80px;
	padding-left: 60px;
}

#slackIcon {
	margin-right: 20px;
}
