@import '../../utils/constants.scss';

input {
  color: $black;
}

.text {
  &-select-slack {
    margin-left: 120px;
    font-size: 35px;
    width: 514px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.username-entry--header {
  position: fixed;
  z-index: 1;
  background-color: $dark-blue;
  width: 100%;
  height: 232px;
}
