@import '../../utils/constants.scss';

input {
  color: $black;
}

.text {
  &-select-slack {
    margin-left: 120px;
    font-size: 35px;
    width: 514px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.username-entry--page {
  background-color: $white;
}

.username-entry--header {
  position: fixed;
  z-index: 1;
  background-color: $dark-blue;
  width: 100%;
  height: 232px;
}

@keyframes confirm-pop {
  from {
    -webkit-transform: translateY(100%) translateZ(1px);
    transform: translateY(100%) translateZ(1px);
  }
  to {
    -webkit-transform: translateY(5%) translateZ(1px);
    transform: translateY(5%) translateZ(1px);
  }
}

.username-entry--confirm-div {
  animation-name: confirm-pop;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  width: 100%;
  height: 160px;
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.72);
  position: absolute;
  bottom: -800px;
  transition: all 1s;
}

.username-entry--confirm-button {
  background-color: $light-blue;

  color: $white;
  height: 80px;
  width: 272px;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.2);
}
