@import '../../utils/constants.scss';

input {
  color: $black;
}

.text-select-slack {
  margin-left: 120px;
  font-size: 35px;
  width: 514px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.username-entry--page {
  background-color: $white;
}
