@import './utils/constants.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  box-sizing: border-box;
}

.button {
  font-size: 30px;
  border-radius: 12px;
  height: 64px;
  padding: 0px;
  display: inline-block;
  border: none;
}

.page {
  background-color: $dark-blue;
  height: 100vh;
}

#firebaseui_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: $dark-blue;
}
