@import '../../utils/constants.scss';

$icon-distance: 56px;
$item-text-distance: 24px;

.list-selection--item-icon {
  margin-left: $icon-distance;
}

$snack-icon-size: 50px;

.snack-icon {
  height: $snack-icon-size;
  width: $snack-icon-size;
}

$username-icon-size: 48px;

.username-icon {
  height: $username-icon-size;
  width: $username-icon-size;
}

.list-selection--body {
  padding-top: 232px;
  background-color: $white;
  height: 100%;
  width: 95%;
}

.list-selection--list-text {
  color: $blue;
  font-size: 30px;
  position: relative;
  text-align: left;
  margin: 0;

  &--group-header {
    margin-left: 32px;
    margin-top: 32px;
  }

  &--item-name {
    padding-left: $item-text-distance;
    height: 50px;
    line-height: 50px;
  }
}

.list-selection--list-item {
  padding: 16px 0;
  vertical-align: middle;
  display: flex;
}

.list-selection--group-splitter {
  width: 685px;
}

.list-selection--scroll-select {
  color: $blue;
  position: fixed;
  font-size: 19px;
  right: 0px;
  top: 340px;
  margin: 0px;
  width: 10%;
  text-align: right;
  font-family: FaricyNew-Bold;
}

.list-selection--list {
  width: 100%;
  overflow-y: scroll;
  height: 792px;
  -webkit-overflow-scrolling: touch;
}

.list-selection--scroll-select-element {
  padding: 0 20px;
  position: relative;
}

.list-selection--bubble {
  position: absolute;
  top: -80px;
  left: -80px;
}
