@import '../../utils/constants.scss';

.list-container {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 768px;
  text-align: left;
  color: $blue;
  font-size: 30px;

  ol,
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ol {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    .list-group {
      padding: 16px 32px;

      h2 {
        font-size: 1em;
        margin: 0 0 16px;
      }

      hr {
        margin: 0;
        border-color: $grey;
      }

      .list-item {
        margin: 28px 0;

        h2,
        p {
          display: inline-block;
          margin: 0;
          line-height: 50px;

          .qualifier {
            color: $light-blue;
            font-size: 24px;
            margin: 0 8px;
          }
        }

        .icon {
          width: 50px;
          height: 50px;
          border-radius: 4px;
          margin: 0 24px;
          float: left;
        }
      }
    }
  }
}

.list-selection--list-item {
  padding: 16px 0;
  vertical-align: middle;
  display: flex;
}

.list-selection--selected {
  font-weight: bold;
  color: $light-blue;
}

.list-selection--group-splitter {
  width: 685px;
}

.group-select {
  color: $blue;
  font-size: 19px;
  margin: auto 20px;
  width: 5%;
  text-align: center;
  font-weight: bold;

  .group {
    padding: 0 0px;
    position: relative;

    .bubble {
      position: absolute;
      top: -80px;
      left: -115px;
    }
  }
}
